@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-secondary-light: #CFCFBC;
    --color-secondary-dark: #A18268;
}

/*base*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/*button*/
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
}

.button:disabled {
    color: gray;
    background-color: lightgray;
    border-color: currentColor;
    cursor: not-allowed;
}

/*menu*/
.menu-link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
}

.menu-link:hover {
    color: var(--color-brand-light);
}

/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
}

.headed-container {
    display: flex;
    align-items: center;
    /*щоб елем не розтягувались*/
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /*все вільне місце зайняте навігацією*/
    gap: 40px;
}

.header-menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 64px;
}

/*hero section*/
.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    /*щоб не різало зверху*/
    background-size: cover;
    /* background-attachment: fixed; */

}

.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/*advantages section*/

.advantages-section {
    padding: 16px;
    background-color: var(--color-brand-light);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
}

/*section*/
.section-title .accent {
    color: var(--color-brand-dark);
}

.section-title {
    font-size: 62px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

/*tradition*/

.traditions-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.traditions-section {
    padding-top: 96px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-title {
    margin-bottom: 42px;
}

.tradition-text .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}

.tradition-text .brand-uppercase {
    text-transform: uppercase;
    color: var(--color-brand-light);
    font-weight: 600;
}

.tradition-text-limited {
    max-width: 340px;
}

/*chef*/

.chefs-title {
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title::before {
    left: 0;
}

.chefs-title::after {
    right: 0;
}

.chefs-title::before,
.chefs-title::after {
    position: absolute;
    bottom: 24px;
    width: 352px;
    height: 2px;
    background: var(--color-secondary-light);
    content: '';
}

.chefs-list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 1px var(--color-secondary-dark);
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

/*format*/

.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.carousel-button.next {
    transform: rotate(180deg);
}

.formats-title {
    margin-bottom: 80px;
}

.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.format-item {
    flex-basis: calc ((100% - 40px) / 3);
}

.format-card {
    height: 444px;
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
    border: 1px solid lightgray;
    /*remuve*/
    transition: transform 0.3s;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-title {
    margin-bottom: 16px;
    font-size: 24;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* contacts */
.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contacts-title {
    margin-bottom: 16px;
}

/* footer */
footer {
    padding: 32px 0;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer::before {
    height: 120px;
    width: 180px;
    left: 0;
    background-image: url('../images/decore-bread-small.png');
}

.footer::after {
    height: 190px;
    width: 380px;
    right: 0;
    background-image: url('../images/decore-bread-large.png');
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-adress {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
    gap: 20px;
}

.adress-list,
.adress-info {
    flex-grow: 1;
}

.adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s;
}

.adress-link:hover {
    color: var(--color-brand-light);
}

.adress-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
}

.adress-icon {
    fill: var(--color-primary-light);
    /* stroke: aqua; обводка*/
}

.adress-icon:hover {
    fill: var(--color-brand-light);
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    position: relative;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

/* form */

.form-fild {
    position: relative;
    margin-bottom: 32px;
}

.form-lable {
    /* display: block; */
    position: absolute;
    top: 16px;
    left: 42px;
}

.form-imput {
    width: 100%;
    padding: 16px 42px;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
}

.form-imput:focus {
    border-color: var(--color-brand-light);
    outline: none;
}

.form-imput::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
}

.form-imput:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    font-weight: 500;
    max-width: 210px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

/* .checkbox-imput {
    appearance: none;
}

.checkbox-imput:checked+.checkbox-label::before {
    background-image: url('../images.icon.swg/');
}

.checkbox {
    position: relative;
}

.checkbox-label {
    padding: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    content: '';
} */